.App {
  text-align: center;
}

.Navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.Navbar li {
  padding: 10px;
}

.Navbar a {
  color: rgb(68, 68, 68);
  text-decoration: none;
  transition: 1.5s;
}

.Navbar a:hover, .Navbar a:focus {
  transform: scale(1.1);
}

.Body-Section {
  position: relative;
    top: 4em;
    right: 1em;
}

.Filter-Container h3 {
text-align: start;
padding: 10px;
margin-bottom: 0;
font-weight: 500;
text-transform: uppercase;
}

.button {
  border-radius: 0;
  background-color: rgb(255, 215, 35);
}

.Status-Section {
  display: grid;
  justify-items: end;
}

.Status-Container {
  padding: 20px;
}

.Status-Container Button {
  border-radius: 0;
  background-color: rgb(4, 152, 189);
}

.Status-Container Button:hover {
  background-color: rgb(1, 182, 228);
}

.Table-Section {
  display: grid;
  justify-items: end;
}

.Table-Container {
  width: 80%;
}